/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

header {
    color: tomato;
    text-align: center;
}

article {
    text-align: center;
    background-image: url(white.brickewall.html.jpeg)
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

h4{
    color: tomato;
    border-top: 1px solid black;
}

h3 {
    color: tomato;
}

h2 {
    color: tomato;
}

h1 {
    color: tomato;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
}

.top5 {
    color: tomato;
}

a:hover {
    border-top: 2px solid rgb(199, 10, 0);
}

.afbcss {
    border-radius: 25px;
}


/* navigatiebalk */
nav {
     border: 2px solid rgb(245, 102, 66);
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    background-color: lavender;
    width: 16.7%;
    float: left;
    text-align: center;
}

nav li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none; 
}

nav li a:hover {
    background-color: tomato;
}

.clear {
    clear: both;
}