/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:tomato
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: tomato;
    text-align: center;
}

article {
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    color:
}

h1 {
    color: tomato;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: cadetblue
    text-decoration: none;
}

.top5 {
    color: tomato
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav {
     border: 1px solid blue; 
}
nav ul {
    border: 1px solid black;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

nav ul li {
    background-color: lavender;
    width: 16.666%;
    float: left;
    text-align: center;
}

nav li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none; 
}

nav li a:hover {
    background-color: tomato;
}

nav li a.active {
    background-color: lavender;
}

.clear {
    clear: both;
}


